extends layout
block content
    .pf-c-page__main-body
        .pf-c-content
          center 
            h1 Operation Successful
        section.pf-c-page__main-section.pf-m-limit-width.pf-m-overflow-scroll
            .pf-c-page__main-body
                center 
                    img(src='/images/success.gif')
                    br
                    a.pf-c-button.pf-m-primary(href='/') Go home
                

